idea/
.idea/
.vscode/
*.iml
*.iws
*.ipr
.DS_Store
Thumbs.db
desktop.ini

binbash.txt
req_sis_CMDCA.txt
front/.idea

node_modules/
.pnp
.pnp.*
.yarn/
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

coverage/
.next/
out/
build/
dist/
target/
bin/
obj/
.gradle/
.classpath
.project
.settings/

.cache/
.turbo/
.vercel/
.eslintcache
.parcel-cache

.env
.env.*
!.env.example
!**/.env.example

logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

*.swp
*.swo

.idea/
.vscode/

