@import "tailwindcss";

:root {
  --background: #eeeeee;
  --foreground: #171717;
  --azulClaro: #496373;
  --verde: #85a63f;
  --vermelho: #c10007
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-azulclaro: var(--azulClaro);
  --color-verde: var(--verde);
  --color-vermelho: var(--vermelho);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #eeeeee;
    --foreground: #171717;
    --azulClaro: #496373;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Select custom arrow with spacing from right border */
.select-with-arrow {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3E%3Cpath stroke='%236B7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 0.75rem center; /* distance of icon from border */
  background-size: 1rem 1rem;
  padding-right: 2.5rem; /* space for icon */
}
