name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    env:
      GITHUB_TOKEN: ${{ secrets.GB_TOKEN }}

    steps:
    - uses: actions/checkout@v4

    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@main
      with:
        aws-region: us-east-1
        role-to-assume: arn:aws:iam::622840651405:role/GitHubActionsDeployRole    

    - name: Deploy on EC2 (git pull + docker compose)
      uses: appleboy/ssh-action@main
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ec2-user
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        port: 22
        script: |
          cd /home/ec2-user/Sistema-de-Gestao-de-Planos-para-Prefeituras
          git pull origin main
          docker compose pull
          sudo docker compose -f docker-compose.yml -f docker-compose.prod.yml down -d && sudo docker compose -f docker-compose.yml -f docker-compose.prod.yml up -d


